section{
  background-color: linear;
  height: max-content;
  border-radius: 1em;
  padding: 3em;
  margin-bottom: 8em;
  box-shadow:
      1px 2px 2px hsl(220deg 60% 50% / 0.2),
      2px 4px 4px hsl(220deg 60% 50% / 0.2),
      4px 8px 8px hsl(220deg 60% 50% / 0.2),
      8px 16px 16px hsl(220deg 60% 50% / 0.2),
      16px 32px 32px hsl(220deg 60% 50% / 0.2);
  transition: opacity 2s ease-in-out;
}
/* When hovering over any section, make others fade */
main:hover section {
  opacity: 0;
}

/* Keep the hovered section fully visible */
section:hover {
  opacity: 1 !important;
}
.main-page{
  display: flex;
  flex-direction: column;
}



